:root {
  --back-color: #fbfbfb;
  --menu-back-color: #fa0;
  --menu-icon-size: 32px;
  --menu-background: #333;
  --menu-color: #eef;
  --menu-highlight-background: #079;
  --menu-highlight-color: #fff;
  --submenu-back-color: #09b;
  --back-transparent: #ffffff00;
  --submenu-color: #09b;
  --menu-color-hover: #000;
  --submenu-color-hover: #000;
  --selected-lesson-color: #fff;
  --header-back-color: linear-gradient(to right, #00000000, #00000050 30%, #000000 40%, #000 );
  --main-menu-item-height: 16px;
  --main-font: Verdana, Geneva, Sans-Serif;
  --funy-font: Verdana, Geneva, Sans-Serif;
  --font-family: Verdana, Geneva, Sans-Serif;
  --lang-switcher-font: Verdana, Geneva, Sans-Serif;
  --welcome-win-font: Verdana, Geneva, Sans-Serif;
  --donate-button-font: Verdana, Geneva, Sans-Serif;
  --slogan-font: Verdana, Geneva, Sans-Serif;
  --main-menu-width: 386px;
  --overshadow-size: 160px;
}

body {
  margin: 20px calc(50% - 450px);
  font-family: var(--font-family);
  color: #555;
  background-color: white;
  border: solid 20px white;
  border-bottom: solid 70px white;
  overflow-x: hidden;
}

.flowchart-process {
  width: 160px;
  height: max-content;
  text-align: center;
  border: solid 1px #555;
  padding: 8px 16px;
  margin: 0px auto;
}

.flowchart-endpoints {
  width: 160px;
  height: max-content;
  text-align: center;
  border: solid 1px #555;
  border-radius: 50%;
  padding: 8px 16px;
  margin: 0px auto;
}

.flowchart-arrow {
  width: 160px;
  text-align: center;
  padding: 0px 16px;
  margin: 0 auto;
  font-size: 48px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 16px;
}

a { color: #f50; }
a:hover { color: #09b; }

html {
  background: #555;
  scroll-behavior: smooth;
}

hr {
  margin: 32px 0;
  height: 1px;
  border-top: solid 1px #f50;
  border-bottom: solid 1.2px #09b;
  background: transparent;
}

lang-switcher {
  position: fixed;
  bottom: -24px;
  left: -2px;
}

glitch-logo {
  position: absolute;
  transform: scale(1);
  top: 64px;
  left: 16px;
}

@media screen and (max-width: 1320px) {
  main-menu-component:before { padding-left: 20vw; }
}

@media screen and (max-width: 1200px) {
  glitch-logo { transform: scale(.8); }
}

@media screen and (max-width: 1000px) {
  glitch-logo {
    left: calc(100vw - 108px);
    top: 60px;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 900px) {
  body { margin: 0; }
  glitch-logo {
    left: calc(100vw - 90px);
    transform: scale(.6);
  }
}

@media screen and (max-width: 600px) {
  glitch-logo { display: none; }
  welcome-win { display: none; }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #079;
  box-shadow: inset 0 0 1px #00000070;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #f50;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa0;
}
