:root {
  --back-color: #fbfbfb90;
  --cap-image: var(--js-cap);
  --menu-back-color: #fa0;
  --menu-icon-size: 36px;
  --menu-background: #333;
  --menu-color: #eef;
  --menu-highlight-background: #079;
  --menu-highlight-color: #fff;
  --submenu-back-color: #09b;
  --back-transparent: #ffffff00;
  --submenu-color: #09b;
  --menu-color-hover: #000;
  --submenu-color-hover: #000;
  --selected-lesson-color: #fff;
  --header-back-color: linear-gradient(to right, #00000000, #00000050 30%, #000000 40%, #000 );
  --header-back-image: var(--stars-in-line);
  --link-image: var(--link);
  --main-menu-item-height: 16px;
  --main-font: var(--font-family);
  --funy-font: 'Happy Monkey', Kavoon, 'Luckiest Guy', Montserrat, Roboto, Arial;
  --font-family: Montserrat, Poppins, Roboto, sans-serif, Arial;
}

body {
  margin: 20px calc(50% - 450px);
  font-family: var(--font-family);
  color: #555;
  background-color: white;
  border: solid 20px white;
  border-bottom: solid 70px white;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: var(--font-family);
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  font-weight: bold;
  font-family: Montserrat, Poppins, monospace, Roboto, Arial;
  font-size: 16px;
}

a { color: #f50; }
a:hover { color: #09b; }

html {
  background: #555;
  scroll-behavior: smooth;
}

hr {
  margin: 32px 0;
  height: 1px;
  border-top: solid 1px #f50;
  border-bottom: solid 1.2px #09b;
  background: transparent;
}

main-menu-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--header-back-image), var(--header-back-color);
  background-size: contain, 100%;
  background-repeat: repeat-x, no-repeat;
  background-blend-mode: overlay;
  box-shadow: 2px 2px 4px #00000090;
  z-index: 55;
}

main-menu-component:before {
  content: "Client-side JS";
  font-family: "Luckiest Guy";
  color: #def;
  display: block;
  padding: 8px 16px;
  font-size: 30px;
  mix-blend-mode: difference;
  -moz-letter-spacing: 2;
  -webkit-letter-spacing: 2;
  letter-spacing: 2;
}

lang-switcher {
  position: fixed;
  bottom: -24px;
  left: -2px;
}

@media screen and (min-width: 1350px) {
  main-menu-component:before { padding-left: 16px; }
}

@media screen and (max-width: 1320px) {
  main-menu-component:before { padding-left: 20vw; }
}
@media screen and (max-width: 900px) {
  body { margin: 0; }
  welcome-win { display: none; }

  main-menu-component:before { padding-left: 80px; }
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
  main-menu-component:before { display: none; }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #079;
  box-shadow: inset 0 0 1px #00000070;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #f50;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa0;
}
